# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=MongoDB_URL

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=JWT
JWT_EXPIRES_IN=7d

# AI Service
AI_SERVICE_URL=http://localhost:8000
SERVER_URL=http://localhost:5000

# File Uploads
UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=50

# CORS
CLIENT_URL=http://localhost:3000

# Twilio Voice
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TWILIO_WEBHOOK_SECRET=
PUBLIC_WS_BASE_URL=ws://localhost:5000
PHONE_AGENT_MODEL=llama3
PHONE_AGENT_SYSTEM_PROMPT=
PHONE_SILENCE_THRESHOLD=
PHONE_MAX_SILENCE_MS=
PHONE_MIN_UTTERANCE_MS=

# Langfuse
LANGFUSE_SECRET_KEY="sk-lf-8a3e9bef-0815-4ab9-8171-9065f8d6ec36"
LANGFUSE_PUBLIC_KEY="pk-lf-56f716aa-8c7e-4618-9b0a-5d833c3fffc5"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
